@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #app {
    height: 100%;
  }
}

@layer components {
  .min-h-screen {
    min-height: 100vh;
  }
}